# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/
env/
.env

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
log/
*.log

# Temporary files
tmp/
*.tmp

# Distribution / packaging
dist/
build/
*.egg-info/ 

#microsubset
micro_subset.txt